@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>First App</h2>
        <ul>
            <li>Dolorem ipsum</li>
            <li>Dolorem ipsum</li>
            <li>Dolorem ipsum</li>
            <li>Dolorem ipsum</li>
        </ul>
    </div>
</div>
